div.TabView
{
    height: 24px;
    width: 100%;
    float:left;
}

div.Pages
{
    clear: both;
    vertical-align: top;
    border: 1px solid black;
    background-color: #EDEDED;
}
div.Tabs a
{
    float: left;
    display: block;
    text-align: center;
    height: 24px;
    vertical-align: middle;
    /*border: 1px solid black;*/
    text-decoration: none;
    font-family: Calibri;
    color: #111111;
    font-size: 14px;
    vertical-align: center;
    padding-top: 5px;
    font-weight: 900;
    /*padding-left: 10px;
    padding-right: 10px;*/
    background:url(../../images/Non_Seletct.png);
    width: 171px;
}
div.Tabs a:hover
{
    background:url(../../images/Select.png);
    color: white;
    width: 171px;
    text-decoration: none;
    font-size: 14px;
    
}
div.Tabs a.Active
{
	background:url(../../images/Select.png);
    color: white;
    display: block;
    width: 171px;
}

div.pageBorder
{
    clear: both;
    vertical-align: top;
    border: 1px solid black;
    background-color: #EDEDED;
    width: 98%;
}
